<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <SqlUnitTesting>
    <DataGeneration ClearDatabase="true"/>
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=KC-500-FLYDOC;Initial Catalog=FlyDoc;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" CommandTimeout="30"/>
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=KC-500-FLYDOC;Initial Catalog=FlyDoc;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" CommandTimeout="30"/>
  </SqlUnitTesting>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="fileTrace" xsi:type="File" fileName="C:/FlyDoc/Logs/FlyDoc.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${message}"
              archiveEvery="Day" archiveFileName="C:/FlyDoc/Logs/FlyDoc {#}.txt"  archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
              concurrentWrites="false" keepFileOpen="false"/>
    </targets>
    <rules>
      <logger name="fileLogger" minlevel="Trace" writeTo="fileTrace" />
    </rules>
  </nlog>

  <connectionStrings>
    <!--<add name="FlyDoc" connectionString="Data Source=KC-500-FLYDOC;Initial Catalog=FlyDoc; user id=flyDocUser;password=1" providerName="System.Data.SqlClient"/>-->
     <add name="FlyDoc" connectionString="Data Source=.;Initial Catalog=FlyDoc;Integrated Security=True" providerName="System.Data.SqlClient"/>  
  </connectionStrings>



  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
